.ativo {
    color: #9200af
}

header {
    color: #b904dd;
    background-color: #000000;
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    padding: 25px 25px 20px;
}

h1 {
    transition: 0.2s;
    user-select: none;
}

h1:hover {
    cursor: default;
    text-decoration: underline;
    
}

a{
    text-decoration: none;
    margin-right: 25px;
}

ul {
    display: flex;
    list-style: none;
}

li a {
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    transition: 0.2s;
    user-select: none;
}

li a:hover {
    color: #9200af;
    background-color: #fff;
}
