<header>
    <h1> {{ title }}</h1>
    <nav class="navegacao">
        <ul class="menu-um">
            <li class="item">
                <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions] = "{exact: true}">Home</a>
            </li>
            <li class="item">
                <a routerLink="cadastro" routerLinkActive="ativo">Cadastro</a>
            </li>
            <li class="item">
                <a routerLink="sobre" routerLinkActive="ativo">Sobre</a>
            </li>
        </ul>
    </nav>
    
</header>
<router-outlet />
